---
# Front matter needed
---

$trueblue:rgb(5, 129, 193);

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 1em 0 .67em 0;
}

h1 {
	font-size: 50px;
	color: black;
}

p {
	font-size: 16px;
}

a {
	&.implicit, &.blank, &.blank:hover {
		color: inherit;
		text-decoration: none;
	}

	&:hover {
		color: $trueblue;
	}
}


/* sidebar styles */
.sidebar-column {
	padding-left: 0;
}

.external-links > a {
	margin-right: 18px;
}

// Import partials from `sass_dir`
@import "syntax-highlighting";