<!-- TODO : Take suave picture ;) -->

<h1 style="font-size:50px">
  <a class="blank text-center" href="/">
    Connor<br><span style="font-weight:bold;color:rgb(5, 129, 193)">Proctor</span>
  </a>
</h1>

<!-- TODO : Add pages, duh
<p>
  <a class="implicit" href="/">Home</a> | <a class="implicit" href="/posts">Blog</a> | <a class="implicit" href="/projects">Projects</a>
</p> -->

<p>
<!-- TODO : description of me! -->
</p>

<div class="external-links">
  <a title="GitHub" href="https://github.com/conproctor" target="_blank" class="blank"><i class="fa fa-2x fa-github"></i></a>
  <a title="LinkedIn" href="https://www.linkedin.com/in/connorproctor" target="_blank" class="blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
  <a title="Twitter" href="https://www.twitter.com/connorproctor" target="_blank" class="blank"><i class="fa fa-2x fa-twitter-square"></i></a>
  <a title="Email" href="mailto:connorproctor@ucla.edu" target="_blank" class="blank"><i class="fa fa-2x fa-envelope"></i></a>
</div>